* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background: white;
  font-family: 'Lora', serif;
}

header {
  background: burlywood;
  height: 66px;
}

header * {
  color: white;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
}

header .logo-text {
  margin: 8px;
  font-family: 'Libre Baskerville', serif;
}

header .logo-text span {
  color: rgb(51, 128, 158);
}

header ul {
float: right;
margin: 0px;
padding: 0px;
list-style: none;
border: 1px solid red;
}

header ul li {
  float: left;
  position: relative;
}

header ul li ul {
  position: absolute;
  top: 66px;
  right: 0px;
  width: 180px;
}

header ul li ul li {
  width: 100%;
}

header ul li a {
  display: block;
  padding: 21px;
  font-size: 1em;
  text-decoration: none;
}

header ul li a:hover {
  background: rgb(180, 102, 2);
  transition: 0.5s;
}

header .menu-toggle {
  display: none;
}