<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Blog</title>
  

  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link rel="stylesheet" href="blog-style.css">


</head>

<body>

 <img src="file:///Users/ashleychea/Documents/img/wiley%20edge.png" alt="wiley" width="700" height="250">
 
 
  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="blog.html">Content Blog</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ashleyChea" aria-controls="ashleyChea" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

  <div class="collapse navbar-collapse" id="ashleyChea">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="blog.html">Home</a></li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="applePie" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Technology</a>
        <div class="dropdown-menu" aria-labelledby="applePie">
          <a class="dropdown-item" href="finance.html">Finance</a>
          <a class="dropdown-item" href="healthcare.html">Healthcare</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="grapeJuice" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Weather</a>
        <div class="dropdown-menu" aria-labelledby="grapeJuice">
          <a class="dropdown-item" href="holidays.html">Holidays</a>
          <a class="dropdown-item" href="seasons.html">Seasons</a>
        </div>
      </li>
  
    </ul>

    <form class="form-inline my-2 my-lg-0">
      
      <input type="text" placeholder="Search" class="form-control mr-sm-2">
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Submit</button>

    </form>
  </div>

 </nav>

 <main role="main" class="container">

  <br /><br />

  <div class="row">
    <div class="col-md-8">
    <img src="file:///Users/ashleychea/Documents/img/Christmas.jpeg" alt="Christmas" width="700" height="400">
    </div>
    
    <div class="col-md-4">
      <br />
      <span class="main-article-category">Holidays</span>
      <br />
      <span class="main-article-title">Christmas, the most wonderful time of the year. 50% of Americans have a different outlook on it since the pandemic.</span>
      <br />
      <span>By: <span class="author-name">Kathy S.</span>
  
    </div>

  </div>


  <br /><br />
  <span class="recent-articles">Recent Articles</span>
  <hr />

  <div class="row">

    <div class="col-md-8">

      <div class="row">
        <div class="col-md-4">
        <img src="file:///Users/ashleychea/Documents/img/JPMC.jpeg" alt="JPMC" width="250" height="200">
        </div>
        <div class="col-md-8">
        <br />
        <span class="sub-article-date">Dec 1, 2022</span>
        <br />
        <span class="sub-article-title">Looks like Investment bank giant "JPMorgan Chase & Co." is up to something BIG...</span>
        <br />
        <span class="sub-article-author">By: <span class="author-name">Ashley C.</span>
        <br />
        <span class="sub-article-category">Finance</span>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-md-4">
         <img src="file:///Users/ashleychea/Documents/img/c.jpeg" alt="Centene" width="250" height="200">
        </div>
        <div class="col-md-8">
        <br />
        <span class="sub-article-date">Dec 5, 2022</span>
        <br />
        <span class="sub-article-title">Who exactly is Centene Corporation? A deeper dive into one of healthcare's biggest kept secrets.</span>
        <br />
        <span class="sub-article-author">By: <span class="author-name">Ysabel V.</span>
        <br />
        <span class="sub-article-category">Healthcare</span>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-md-4">
        <img src="file:///Users/ashleychea/Documents/img/seattle.jpeg" alt="Seattle" width="250" height="200">
        </div>
        <div class="col-md-8">
        <br />
        <span class="sub-article-date">Dec 7, 2022</span>
        <br />
        <span class="sub-article-title">Seattle, here's everything you need to know about one of America's rainiest cities.</span>
        <br />
        <span class="sub-article-author">By: <span class="author-name">Jenna W.</span>
        <br />
        <span class="sub-article-category">Seasons</span>
        </div>
      </div>
      <hr />

      <div class="text-right"><span class="demo-link">More ></span></div>

    </div>
    <div class="col-md-4">
    
  </div>

 </main>
 
 <footer class="page-footer font-medium stylish-color-dark pt-4 mt-4">

  <div class="footer-copyright py-3 text-center">
    © Copyright 2022: Group 4 Blog

  </div>

 </footer>

  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>